<ul class="nav nav-pills nav-justified mb-3">
  <li class="nav-item" role="presentation">
    <button
      type="submit"
      class="btn btn-primary btn-block mb-4"
      (click)="log()"
    >
      Login
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      type="submit"
      class="btn btn-primary btn-block mb-4"
      (click)="reg()"
    >
      Register
    </button>
  </li>
</ul>
<div class="tab-content">
  <div
    class="tab-pane fade show active"
    id="pills-login"
    role="tabpanel"
    aria-labelledby="tab-login"
    *ngIf="logg; else elseBlock"
  >
    <form [formGroup]="loginForma" autocomplete="off" class="px-5 py-4">
      <div class="form-outline mb-4">
        <p>{{ greska }}</p>
      </div>
      <div class="form-outline mb-4">
        <input
          placeholder="kroisnicko ime"
          type="text"
          id="korime"
          class="form-control"
          formControlName="korisnickoime"
        />
        <label class="form-label" for="loginName">Korisnicko ime</label>
      </div>
      <div class="form-outline mb-4">
        <input
          type="password"
          placeholder="lozinka"
          id="loginPassword2"
          class="form-control"
          formControlName="lozinka"
        />
        <label class="form-label" for="loginPassword">Lozinka</label>
      </div>
      <div class="row mb-4">
        <div class="col-md-6 d-flex justify-content-center">
          <div class="form-check mb-3 mb-md-0"></div>
        </div>
      </div>

      <!-- Submit button -->
      <button
        type="submit"
        (click)="login()"
        class="btn btn-primary btn-block mb-4"
      >
        Sign in
      </button>

      <!-- Register buttons -->
      <div class="text-center">
        <p>
          Not a member?
          <a (click)="reg()" class="btn btn-primary" role="button">Register</a>
        </p>
      </div>
    </form>
  </div>
  <ng-template #elseBlock>
    <form [formGroup]="registracijaForma" autocomplete="off" class="px-5 py-4">
      <div class="form-outline mb-4">
        <p>{{ greska }}</p>
      </div>
      <div class="form-outline mb-4">
        <img *ngIf="url" title="slika" src="{{ url }}" height="90" width="90" />
      </div>
      <div class="form-outline mb-4">
        <input
          placeholder="korisnicko ime"
          type="text"
          class="form-control"
          formControlName="korisnickoime"
        />
        <label class="form-label" for="loginName">Korisnicko ime</label>
      </div>
      <div class="form-outline mb-4">
        <input
          placeholder="email"
          type="email"
          class="form-control"
          formControlName="email"
        />
        <label class="form-label" for="loginName">Email</label>
      </div>

      <div class="form-outline mb-4">
        <input
          placeholder="ime"
          type="text"
          class="form-control"
          formControlName="ime"
        />
        <label class="form-label" for="loginName">Ime</label>
      </div>
      <div class="form-outline mb-4">
        <input
          placeholder="prezime"
          type="text"
          class="form-control"
          formControlName="prezime"
        />
        <label class="form-label" for="loginName">Prezime</label>
      </div>
      <div class="form-outline mb-4">
        <input
          placeholder="lozinka"
          type="date"
          class="form-control"
          formControlName="rodjenje"
        />
        <label class="form-label" for="loginName">Rodjendan</label>
      </div>
      <div class="form-outline mb-4">
        <input
          placeholder="adresa"
          type="text"
          class="form-control"
          formControlName="adresa"
        />
        <label class="form-label" for="loginName">Adresa</label>
      </div>
      <div class="form-outline mb-4">
        <select
          class="form-control"
          title="userType"
          formControlName="userType"
          id="userType"
          formControlName="tipkorisnika"
        >
          <option value="porucilac">Porucilac</option>
          <option value="admin">Administrator</option>
          <option value="dostavljac">Dostavljac</option>
        </select>
        <label class="form-label" for="loginName">Tip korisnika</label>
      </div>
      <div class="form-outline mb-4">
        <input
          placeholder="lozinka"
          type="password"
          class="form-control"
          formControlName="lozinka"
        />
        <label class="form-label" for="loginName">Lozinka</label>
      </div>
      <div class="form-outline mb-4">
        <input
          placeholder="ponovi lozinku"
          type="password"
          class="form-control"
          formControlName="lozinka2"
        />
        <label class="form-label" for="loginName">Lozinka</label>
      </div>
      <div class="form-outline mb-4">
        <input
          class="form-control"
          placeholder="chose birth date"
          type="file"
          (change)="onSelectFile($event)"
        />
        <label>Image</label>
      </div>
      <button
        type="submit"
        (click)="registracija()"
        class="btn btn-primary btn-block mb-4"
      >
        Register
      </button>
    </form>
  </ng-template>
</div>
